<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>NAR India</name>
    <description>
       NAR India Tetsing App
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Axinovate Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access launch-external="yes" origin="*" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <icon src="www/img/logo.png" />
    <platform name="android">
        <icon density="ldpi" src="www/img/logo.png" />
        <icon density="mdpi" src="www/img/logo.png" />
        <icon density="hdpi" src="www/img/logo.png" />
        <icon density="xhdpi" src="www/img/logo.png" />
        <icon density="xxhdpi" src="www/img/logo.png" />
        <icon density="xxxhdpi" src="www/img/logo.png" />
        <splash density="port-ldpi" src="www/img/logo.png" />
        <splash density="port-mdpi" src="www/img/logo.png" />
        <splash density="port-hdpi" src="www/img/logo.png" />
        <splash density="port-xhdpi" src="www/img/logo.png" />
    </platform>
    <plugin name="phonegap-plugin-push" spec="~2.0.0" />
</widget>
